<div class="alert alert-info">
    <h4 class="alert-heading">Loaded Content</h4>
    <p>This content was loaded using jQuery.load() from an ASP.NET Core controller.</p>
    <hr>
    <p class="mb-0">This content comes from a server-side partial view.</p>
</div>